

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="/css/line-awesome.min.css">
<link rel="stylesheet" href="/fonts/flaticon.css">

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0-8/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/css/rating-star.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
      <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
      <link rel="stylesheet" href="/css/cart-responsive.css">
      

            <div class="my-account-area ptb-100">
 <div class="container">
<div class="tab account-tab">
<div class="row">
<div class="col-lg-4">
<ul class="tabs">
<li >
<a href="#">
My Account
</a>
</li>
<li>
<a href="#">
Buy Again
</a>
</li>

<li>
<a href="#">
Log Out
</a>
</li>
</ul>
</div>
<div class="col-lg-8">
<div class="tab_content current active">
<div class="tabs_item current">
<div class="account-tab-item">
<div class="account-details">
<h2>Profile Details</h2>
<div class="account-profile">
<div class="account-profile-img">
    
    

    
<<<<<<< HEAD
    <div  id="userAvatar" class="avatar1"><span id="avatar__letters">{{#returnOnlyZeroindex user.name}}{{/returnOnlyZeroindex}}</span>
=======
    <div id="userAvatar" class="avatar1"><span id="avatar__letters">{{#returnOnlyZeroindex user.name}}{{/returnOnlyZeroindex}}</span>
>>>>>>> master
    </div>


</div>

<<<<<<< HEAD
</div>

=======
>>>>>>> master
<div class="account-form">
<form id="userDetails" action="/changeUserDetails" method="post" enctype="multipart/form-data">
<div class="row">

<div class="col-lg-12">
<div class="form-group">
<input type="text" name="name" class="form-control" value="{{user.name}}" >
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<input type="email" name="email" class="form-control" value="{{user.email}}">
</div>
</div>
<div class="col-lg-4 col-md-6">
<button  type="submit" class="shopping-btn mb-4">
Confirm
</button>
</div>
 </div>
</form>
</div>
<div class="account-form">
<h3>Change Password</h3>
<form id="passForm" action="/changeUserPassword" method="post" enctype="multipart/form-data" onsubmit = "event.preventDefault(); myValidation();">
<div class="row">

<div class="col-lg-12">
<div class="form-group">
<input type="password" id="password" name="password"  class="form-control" placeholder="New Password" required>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<input type="password" id="confirm_password" name="confirm_password"  class="form-control" placeholder="Confirm Password" required>
</div>
</div>
<div class="col-lg-4 col-md-6 col-6 mb-4">
<button type="submit" class="shopping-btn">
Confirm
</button>
</div>
<div class="col-lg-8 col-md-6 col-6 mb-4">
<a href="#" class="shopping-btn">Cancel</a>


</div>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="tabs_item" id="orders">
    
<div class="account-tab-item">
    
<div class="checkout-order">

{{#if products}}
<h2>Buy Again</h2>
<h3 class="title-item">Item <span  style="margin-left: 2.2em;">Description & Amount</span> <span class="cash">Cash</span></h3>
<ul class="checkout-product">

{{#each products.product}}
<li>
    
<img src="data:image/jpeg;base64,{{this.img}}" alt="Images">
<h3>{{this.name}}         <span class="ml-3" style="margin-left:2rem;">x{{this.quantity}}</span></h3>
<span>₹{{this.price}}</span>
<div style="right: 150px;top: 68px;" class="add-to-cart-div"><button onclick="addToCart('{{this._id}}')"  class="add-to-cart-btn btn-bg-three" >Add to Cart</button></div>
<div class="price-tag">₹{{this.price}}</div>
</li>
{{/each}}
</ul>
<div class="total-amount">
<h2 class="amount-title">Sub Total Amount <span>₹{{products.total}}</span></h2>
<h3 class="vat-title">Delivery <span>Free</span></h3>
<h3 class="total-title">Total Amount<span>₹{{products.total}}</span></h3>
</div>
{{else}}
<h3 class="text-center">No Orders</h3>
{{/if}}
</div>
</div>
</div>

<div class="tabs_item" id="logout">
<div class="account-tab-item">
<div class="contact-form">
<h2>Are you sure?</h2>
<a href="/logout" class="address-edit shopping-btn" style="margin-right: 3em;">Yes</a><a href="#" class="address-edit shopping-btn">No</a>

</div>

</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<script>
    
<<<<<<< HEAD
    
=======
>>>>>>> master
  
    function myValidation()
{
    let pass=document.getElementById('password').value
    
    let pass_confirm=document.getElementById('confirm_password').value
     
   if(pass == pass_confirm)
   {
       document.getElementById("passForm").submit();
       return true;
     
   }else{
    alert("Oops! The passwords does not match");
      
      return false;
   }
   
}
    
</script>

  <script src="/js/add.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js"></script> 
<script src="/js/bootstrap.bundle.min.js"></script> 
<script src="/js/owl.carousel.min.js"></script> 
<script src="/js/jquery.magnific-popup.min.js"></script> 
<script src="/js/jquery.nice-select.min.js"></script> 
<script src="/js/wow.min.js"></script> 
<script src="/js/meanmenu.js"></script> 
<script src="/js/slick.min.js"></script> 
<script src="/js/jquery.ajaxchimp.min.js"></script> 
<script src="/js/form-validator.min.js"></script> 
<script src="/js/jquery.validate.js"></script> 
<script src="/js/jquery-ui.min.js"></script> 
<script src="/js/mixitup.min.js"></script> 
<script src="/js/custom.js"></script>